<div class="all">
<h1 class="header_login"> Log In! </h1>
<div class="form">
  <%= form_tag do  %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br/><br/>
  <%= submit_tag "Sign In" %>
  <% end %>
</div><br/></br>

<div class="create">
  <button class="new-job"><%= link_to "Create Account", new_employer_path %></button>
</div>
