<div class="profiles">
<% @users.each do |user| %>
<div class="user-index">
  <% if user.profile != nil %>
  <img class="card-img-top" src= "<%=user.profile.profile_pic%>" alt="Card image cap">
  <% end %>

    <h4>  <%=user.name%> </h4>
    <% if user.profile != nil %>
    <p class="card-text"> <%= user.profile.summary %></p>
    <a href= "/users/<%="#{user.id}"%>" class="btn btn-primary">See Full Profile</a>
    <% end %><br/>

      <% if user != current_user && user.profile.mentor == "Active" %>
        <%= link_to "Add Mentor", mentorships_path(:mentor_id => user), :method => :post %></br>
      <% end %>

  </div>
    <% end %>
</div>
