<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <h2><%=@user.name %></h2>
    <% unless @user.profile.blank? %>
      <div class="user-image"><%= image_tag @user.profile.profile_pic  %></div>
  <p class="summary"> <%= @user.profile.summary %></p>
      <p> Skills: <%= @user.profile.skills %></p>
      <p> Address: <%= @user.profile.full_address %></p>
    <% end %>
    <% if @user.profile.nil? && @user == current_user %>
      <p><button class="c-profile"><%= link_to "Create Profile", new_user_profiles_path(@user)  %></button></p>
    <% end %>
    <% if @user == current_user %>
      <p><button class="e-profile"><%= link_to "Edit Profile", edit_user_profiles_path(@user) %></button></p>
    <% end  %>
</div>

<h2>Mentors</h2>
<%= link_to "Add Mentors", users_path %>
<ul>
  <%  @user.mentorships.each do |mentorship| %>
    <li>
      <%= mentorship.mentor.name %>
      <% if @user == current_user %>(<%= link_to "remove", mentorship, :method => :delete %>) <%end %>
    </li>
  <% end %>
</ul>


<% if @user == current_user %>
<h3>Jobs Near You: </h3>

<% if @user.profile != nil %>
<div id="map" style="height: 400px; width: 500px;"></div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?v=3&key=<%=ENV["google_map_key"]%>&callback=initMap">
</script>

<script>

var map;

function initMap()
{
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 39.7392, lng: 104.9903},
    zoom: 8
  });

  fetch('http://localhost:3000/api/v1/jobs')
    .then(function(response){return response.json()})
    .then(plotMarkers);
}


var locations;
var bounds;

function plotMarkers(m)
{
  locations = [];
  bounds = new google.maps.LatLngBounds();

  m.forEach(function (location) {
    var position = new google.maps.LatLng(location.latitude, location.longitude);

    locations.push(
      new google.maps.Marker({
        position: position,
        map: map,
        animation: google.maps.Animation.DROP
      })
    );
    bounds.extend(position);
  });

  map.fitBounds(bounds);
}
</script>

<%end %>
<%end %>
