<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <h2><%=@user.name %></h2>
    <% unless @user.profile.blank? %>
      <%= image_tag @user.profile.profile_pic  %>
  <p class="summary"> <%= @user.profile.summary %></p>
      <p> Skills: <%= @user.profile.skills %></p>
      <p> Address: <%= @user.profile.full_address %></p>
    <% end %>
    <% if @user.profile.nil? && @user == current_user %>
      <p><button class="c-profile"><%= link_to "Create Profile", new_user_profiles_path(@user)  %></button></p>
    <% end %>
    <% if @user == current_user %>
      <p><button class="e-profile"><%= link_to "Edit Profile", edit_user_profiles_path(@user) %></button></p>
    <% end  %>
</div>

<h2>Mentors</h2>
<ul>
  <% for mentorship in @user.mentorships %>
    <li>
      <%=h mentorship.mentor.name %>
      (<%= link_to "remove", mentorship, :method => :delete %>)
    </li>
  <% end %>
</ul>


<% if @user.profile != nil %>
<div id="map" style="height: 400px; width: 500px;"></div>
<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 10,
  center: new google.maps.LatLng(<%=@user.profile.latitude%>, <%=@user.profile.longitude%>),
  mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var locations = <%= raw @job_markers %>


  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][2], locations[i][3]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent("<b>" + locations[i][0] + "</b> <br/>" + locations[i][1]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?&callback=initMap&key=<%=ENV["google_map_key"]%>">
</script>

<%end %>
