<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <h2><%=@user.name %></h2>
    <% unless @user.profile.blank? %>
      <div class="user-image"><%= image_tag @user.profile.profile_pic  %></div>
  <p class="summary"> <%= @user.profile.summary %></p>
      <p> Skills: <%= @user.profile.skills %></p>
      <p> Address: <%= @user.profile.full_address %></p>
    <% end %>
    <% if @user.profile.nil? && @user == current_user %>
      <p><button class="c-profile"><%= link_to "Create Profile", new_user_profiles_path(@user)  %></button></p>
    <% end %>
    <% if @user == current_user %>
      <p><button class="e-profile"><%= link_to "Edit Profile", edit_user_profiles_path(@user) %></button></p>
    <% end  %>
</div>

<h2>Mentors</h2>
<%= link_to "Add Mentors", users_path %>
<ul>
  <%  @user.mentorships.each do |mentorship| %>
    <li>
      <%= mentorship.mentor.name %>
      <% if @user == current_user %>(<%= link_to "remove", mentorship, :method => :delete %>) <%end %>
    </li>
  <% end %>
</ul>


<% if @user == current_user %>
<h3>Jobs Near You: </h3>

<% if @user.profile != nil %>
<div id="map" style="height: 400px; width: 500px;"></div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?&callback=initMap&key=<%=ENV["google_map_key"]%>">
</script>
<script>
//
// var locations = []
//
function fetchJobs() {
   fetch('http://localhost:3000/api/v1/users')
  .then((response) => response.json())
  .then((results) => { Object.keys(results).forEach(function(key){locations.push([results[key]["title"],results[key]["description"], results[key]["latitude"],results[key]["longitude"]])})})
  .then... map
  .catch((error) => console.error({ error }))}

fetchJobs()

// locations = Promise.resolve(awesome).then(initMap());
//
//
// function fetchJobs() {
//   var things;
//    fetch('http://localhost:3000/api/v1/users')
//   .then((response) =>  response.json())
//   .then((results) => things = Object.keys(results).map(function(key) { return ([results[key]["title"],results[key]["description"], results[key]["latitude"],results[key]["longitude"]])}))
//   console.log(things)
//   .catch((error) => console.error({ error }))
// }
//
// fetchJobs()
// var locations = []

// var locations = fetchJobs().then((results) =>
//     Object.keys(results).map(function(key) { return ([results[key]["title"],results[key]["description"], results[key]["latitude"],results[key]["longitude"]])}))
//
// console.log(locations)
//
//
//
//
// fake_api_data = JSON.stringify( [
//     {
//        "lat": 39.7516374,
//        "lng": -104.9972419,
//        "company_name": "Target",
//        "title": "Teacher",
//        "job_url": "/jobs/1"
//     },
//     {
//        "lat": 39.7832877,
//        "lng": -104.8954512,
//        "company_name": "June",
//        "title": "Death",
//        "job_url": "/jobs/1"
//     }
// ])

parsed = JSON.parse(fake_api_data)

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 10,
  center: new google.maps.LatLng(<%=@user.profile.latitude%>, <%=@user.profile.longitude%>),
  mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // var locations = <%= raw @job_markers %>
  //
  // var locations = [
  //   ['Me', '<%= @user.name %>', <%=@user.profile.latitude%>, <%=@user.profile.longitude%>]
  // ];
  //
  // var results = Object.keys(parsed).forEach(function(key) { locations.push([parsed[key]["title"],parsed[key]["company_name"],parsed[key]["lat"],parsed[key]["lng"]])
  // });


  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][2], locations[i][3]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent("<b>" + locations[i][0] + "</b> <br/>" + locations[i][1]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
}
</script>


<%end %>
<%end %>
