<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <h2><%=@user.name %></h2>
    <% if @user.profile != nil %>
      <%= image_tag @user.profile.profile_pic  %>
  <p class="summary"> <%= @user.profile.summary %></p>
      <p> Skills: <%= @user.profile.skills %></p>
      <p> Address: <%= @user.profile.full_address %></p>
    <% end %>
    <% if @user.profile.nil? %>
      <p><button><%= link_to "Create Profile", new_user_profiles_path(@user)  %></button></p>
    <% end %>
    <% if @user == current_user %>
      <p><button><%= link_to "Edit Profile", edit_user_profiles_path(@user) %></button></p>
    <% end  %>
</div>


<% if @user.profile != nil %>
<div id="map" style="height: 400px; width: 500px;">
</div>
<script type="text/javascript">
  var locations = <%= raw @job_markers %>

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: new google.maps.LatLng(<%=@user.profile.latitude%>, <%=@user.profile.longitude%>),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>
<%end %>
