<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%= @user.profile.latitude%>, <%= @user.profile.longitude%>)
    });
    </script>
<% end %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <h2><%=@user.name %></h2>
    <% unless @user.profile.blank? %>
      <div class="user-image"><%= image_tag @user.profile.profile_pic  %></div>
  <p class="summary"> <%= @user.profile.summary %></p>
      <p> Skills: <%= @user.profile.skills %></p>
      <p> Address: <%= @user.profile.full_address %></p>
    <% end %>
    <% if @user.profile.nil? && @user == current_user %>
      <p><button class="c-profile"><%= link_to "Create Profile", new_user_profiles_path(@user)  %></button></p>
    <% end %>
    <% if @user == current_user %>
      <p><button class="e-profile"><%= link_to "Edit Profile", edit_user_profiles_path(@user) %></button></p>
    <% end  %>
</div>

<div class="mentors">
  <h2>Mentors</h2>
    <%= link_to "Add Mentors", users_path %>
    <ul>
      <%  @user.mentorships.each do |mentorship| %>
        <li>
          <%= mentorship.mentor.name %>
          <% if @user == current_user %>(<%= link_to "remove", mentorship, :method => :delete %>) <%end %>
        </li>
      <% end %>
    </ul>
</div>

<div class="jobs-map">
  <% if @user == current_user %>
    <h3>Jobs Near You: </h3>
    <% if @user.profile != nil %>
      <div id="map" style="height: 400px; width: 500px;"></div>
    <%end %>
  <%end %>
</div>
