<h1><%= @employer.company_name %> Dashboard</h1>

<h2> Company Info </h2>
<%= @employer.email %><br/>
<%= @employer.street_address %>,
<%= @employer.city %>,
<%= @employer.state %> <br/><br/>

<%= link_to "Edit Company Information", edit_employer_path(@employer) %>


<h2> Company Jobs </h2>
<%= link_to "Add New Job", new_employer_job_path(@employer) %>
<div class="job">
<% @employer.jobs.each do |job| %>
<%= job.title %>
<%= job.description %>
</div>
<%= link_to "Edit Job", edit_employer_job_path(@employer, job) %>
<% end  %>
